div
  h4.title.is-4 {{$t(i18nPrefix + 'title')}}

  div.columns(v-show="haveUnknownCosts")
    div.column
      b-message(:title="$t('utils.Information')" type="is-warning" has-icon) {{$t(i18nPrefix + 'message.haveUnknownCosts')}}

  div.columns
    div.column.is-half
      b-field#current-age-container(:label="$t('utils.choose_age')" label-for="current-age" :type="haveError('currentAge')")
        b-select#current-age(v-model="currentAge" name="current-age" expanded)
          option(value="__all__" :selected="currentAge == '__all__'" :id="'option_all'" autocomplete="off") {{$t(i18nPrefix + 'all_ages')}}
          option(v-for="age in ages" :value="age.key" :key="age.key" :selected="currentAge == age.key" :id="'option_' + age.key" autocomplete="off") {{$t('foe_data.age.' + age.key)}}

    div.column.is-half(v-if="!errors.currentAge && currentAge !== '__all__'")
      b-field(:label="$t(i18nPrefix + 'choose_province')" label-for="provinceContainer" :type="haveError('province')")
        b-select#provinceContainer(v-model="province" expanded)
          option(value="__all__" :selected="province.key == '__all__'" :id="'option_all'" autocomplete="off") {{$t(i18nPrefix + 'all_provinces')}}
          option(v-if="campaignCost !== null" v-for="value of sortProvinceArray(campaignCost, currentAge)" :key="value.key" :selected="province.key === value.key" :value="value") {{$t('foe_data.province.' + value.key)}}

  div.table-wrapper.table-container
    table.table.is-bordered.is-striped.is-narrow.is-fullwidth(v-if="currentAge === '__all__'")
      thead
        tr
          th(:colspan="nbColumns")
            p {{$t(i18nPrefix + 'all_ages')}}
        tr
          th(rowspan=2)
            p {{$t('components.simple_trade.table.thead.th1')}}
          th(rowspan=2)
            p {{$t('utils.Conquered')}}
          template(v-for="age in ages")
            th(v-if="age.key in campaignTotalCost._totalCost" colspan=5)
              p {{$t('foe_data.age.' + age.key)}}
          th(v-for="specialGood in campaignTotalCost._totalCost._specialGoods")
            p {{$t("foe_data.goods." + specialGood.key)}}
        tr
          th(v-for="value in getGoodsOrSpecialGoods(true)")
            figure.image-inherit.image.is-24x24
              img(:src="'/img/foe/goods/' + value.key + '.png'" :alt="value.displayName" :title='$t("foe_data.goods." + value.key)')
          th(v-for="value in getGoodsOrSpecialGoods(false)")
            figure.image-inherit.image.is-24x24
              img(:src="'/img/foe/special_goods/' + value.key + '.png'" :alt="value.displayName" :title='$t("foe_data.goods." + value.key)')

      tbody
        tr(v-for="(age, ageKey) in campaignTotalCost" v-if="ageKey in ages")
          th {{$t('foe_data.age.' + ageKey)}}
          td
            b-checkbox(:value="campaignConquired[ageKey]._state" :indeterminate="campaignConquired[ageKey]._state === -1" :true-value="1" :false-value="0" type="is-success" @input="switchConquired({ age: ageKey }, $event)")

          template(v-for="(cost, age) in campaignTotalCost._totalCost" v-if="age in ages")
            template(v-if="age in campaignTotalCost[ageKey]._totalCost")
              td(v-for="(cost, key) in campaignTotalCost[ageKey]._totalCost[age]")
                p {{$formatNumber(cost.value)}}
            template(v-else)
              td(v-for="i in 5")
          template(v-for="(cost, age) in campaignTotalCost._totalCost._specialGoods")
            td(v-if="cost.key in campaignTotalCost[ageKey]._totalCost._specialGoods")
              p {{$formatNumber(campaignTotalCost[ageKey]._totalCost._specialGoods[cost.key].value)}}
            td(v-else)

      tfoot
        th(colspan="2")
          p {{$t('utils.Total')}}

        th(v-for="good in getGoodsOrSpecialGoods(true)")
          p {{$formatNumber(good.value)}}

        th(v-for="specialGood in getGoodsOrSpecialGoods(false)")
          p {{$formatNumber(specialGood.value)}}

    table.table.is-bordered.is-striped.is-narrow.is-fullwidth(v-else-if="province === '__all__'")
      thead
        tr
          th(:colspan="nbColumns")
            p {{$t('foe_data.age.' + currentAge)}}
        tr
          th(rowspan=2)
            p {{$t(i18nPrefix + 'provinces')}}
          th(rowspan=2)
            p {{$t('utils.Conquered')}}
          template(v-for="age in ages")
            th(v-if="age.key in campaignTotalCost[currentAge]._totalCost" colspan=5)
              p {{$t('foe_data.age.' + age.key)}}
          th(v-for="specialGood in campaignTotalCost[currentAge]._totalCost._specialGoods")
            p {{$t("foe_data.goods." + specialGood.key)}}
        tr
          th(v-for="value in getGoodsOrSpecialGoods(true)")
            figure.image-inherit.image.is-24x24
              img(:src="'/img/foe/goods/' + value.key + '.png'" :alt="value.displayName" :title='$t("foe_data.goods." + value.key)')
          th(v-for="value in getGoodsOrSpecialGoods(false)")
            figure.image-inherit.image.is-24x24
              img(:src="'/img/foe/special_goods/' + value.key + '.png'" :alt="value.displayName" :title='$t("foe_data.goods." + value.key)')

      tbody
        tr(v-for="(index, province) in campaignTotalCost[currentAge].provinces")
          th
            p {{$t('foe_data.province.' + province)}}
          td
            b-checkbox(:value="campaignConquired[currentAge][province]._state" :indeterminate="campaignConquired[currentAge][province]._state === -1" :true-value="1" :false-value="0" type="is-success" @input="switchConquired({ age: currentAge, province: province }, $event)")

          template(v-for="(cost, age) in campaignTotalCost[currentAge]._totalCost" v-if="age in ages")
            template(v-if="age in campaignTotalCost[currentAge].provinces[province]._totalCost")
              td(v-for="(cost, key) in campaignTotalCost[currentAge].provinces[province]._totalCost[age]")
                p {{$formatNumber(cost.value)}}
            template(v-else)
              td(v-for="i in 5")
          template(v-for="(cost, age) in campaignTotalCost[currentAge]._totalCost._specialGoods")
            td(v-if="cost.key in campaignTotalCost[currentAge].provinces[province]._totalCost._specialGoods")
              p {{$formatNumber(campaignTotalCost[currentAge].provinces[province]._totalCost._specialGoods[cost.key].value)}}
            td(v-else)

      tfoot
        th(colspan="2")
          p {{$t('utils.Total')}}

        th(v-for="good in getGoodsOrSpecialGoods(true)")
          p {{$formatNumber(good.value)}}

        th(v-for="specialGood in getGoodsOrSpecialGoods(false)")
          p {{$formatNumber(specialGood.value)}}

    table.table.is-bordered.is-striped.is-narrow.is-fullwidth(v-else-if="!errors.currentAge && !errors.province")
      thead
        tr
          th(:colspan="nbColumns")
            p {{$t('foe_data.province.' + province.key)}}
        tr
          th(rowspan=2)
            p {{$t('utils.Rewards')}}
          th(rowspan=2)
            p {{$t('utils.Conquered')}}
          template(v-for="age in ages")
            th(v-if="age.key in campaignTotalCost[currentAge].provinces[province.key]._totalCost" colspan=5)
              p {{$t('foe_data.age.' + age.key)}}
          th(v-for="specialGood in campaignTotalCost[currentAge].provinces[province.key]._totalCost._specialGoods")
            p {{$t("foe_data.goods." + specialGood.key)}}
        tr
          th(v-for="value in getGoodsOrSpecialGoods(true)")
            figure.image-inherit.image.is-24x24
              img(:src="'/img/foe/goods/' + value.key + '.png'" :alt="value.displayName" :title='$t("foe_data.goods." + value.key)')
          th(v-for="value in getGoodsOrSpecialGoods(false)")
            figure.image-inherit.image.is-24x24
              img(:src="'/img/foe/special_goods/' + value.key + '.png'" :alt="value.displayName" :title='$t("foe_data.goods." + value.key)')

      tbody
        tr(v-for="(sector, index) in province.sectors")
          td
            div.media(v-for="reward in sector.reward")
              div.media-left(v-if="reward.type !== 'good_bonus'" style="margin-right: 0em !important;")
                figure.image-inherit.image.is-24x24(style="margin-left: .5em !important; margin-right: 1em !important;")
                  img(:src="'/img/foe/bonus/' + reward.type + '.png'" :alt="$t('foe_data.bonus.' + reward.type + '.name')" :title="$t('foe_data.bonus.' + reward.type + '.name')")
              div.media-content
                p(v-if="reward.type === 'good_bonus'") {{$t('foe_data.bonus.good_bonus.name')}}
                p(v-else) {{$formatNumber(reward.value)}}
          td
            b-checkbox(:value="campaignConquired[currentAge][province.key].sectors[index]" type="is-success" @input="switchConquired({ age: currentAge, province: province.key, sector: index }, $event)")

          td(v-for="value in getGoodsOrSpecialGoods(true)")
            template(v-if="Object.keys(sector).indexOf('cost') >= 0")
              div(v-for="good in sector.cost")
                p(v-if="good.key === value.key")
                  s(v-if="campaignConquired[currentAge][province.key].sectors[index]") {{$formatNumber(good.value)}}
                  span(v-else) {{$formatNumber(good.value)}}
            div(v-else)
              p ?

          td(v-for="value in getGoodsOrSpecialGoods(false)")
            template(v-if="Object.keys(sector).indexOf('cost') >= 0")
              div(v-for="good in sector.cost")
                p(v-if="good.key === value.key")
                  s(v-if="campaignConquired[currentAge][province.key].sectors[index]") {{$formatNumber(good.value)}}
                  span(v-else) {{$formatNumber(good.value)}}
            div(v-else)
              p ?
      tfoot
        tr
          th
            template(v-for="reward in province.reward")
              div.media(v-if="reward.type !== 'good'")
                div.media-left(v-if="reward.type !== 'good_bonus'" style="margin-right: 0em !important;")
                  figure.image-inherit.image(style="margin-left: .5em !important; margin-right: 1em !important;" :class="reward.type !== 'pvp_tower' ? 'is-24x24' : 'is-30xauto'")
                    img(v-if="reward.type !== 'pvp_tower'" :src="'/img/foe/bonus/' + reward.type + '.png'" :alt="$t('foe_data.bonus.' + reward.type + '.name')" :title="$t('foe_data.bonus.' + reward.type + '.name')")
                    img(v-else :src="'/img/foe/bonus/' + currentAge + '_tower.png'" :alt="$t('foe_data.bonus.' + reward.type + '.name')" :title="$t('foe_data.bonus.' + reward.type + '.name')")
                div.media-content(:style="{ overflow: ((reward.type === 'good_bonus') && reward.age ? 'unset' : 'hidden') }")
                  p(v-if="reward.type === 'good_bonus'") {{$t('foe_data.bonus.good_bonus.name')}}
                    template(v-if="reward.age")
                      | &nbsp;
                      b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t('foe_data.age.' + reward.age)" dashed)
                        span {{$t('foe_data.age_short.' + reward.age)}}
                  p(v-else-if="reward.value && reward.value > 0") {{$formatNumber(reward.value)}}
              template(v-else)
                div.media(v-for="good in agesGoods[currentAge].goods" :key="good.key")
                  div.media-left(v-if="reward.type !== 'good_bonus'" style="margin-right: 0em !important;")
                    figure.image-inherit.image.is-24x24(style="margin-left: .5em !important; margin-right: 1em !important;")
                      img(:src="'/img/foe/goods/' + good.key + '.png'" :alt="$t('foe_data.goods.' + good.key)" :title="$t('foe_data.goods.' + good.key)")
                  div.media-content
                    p {{$formatNumber(reward.value)}}

          th
            p {{$t('utils.Total')}}

          th(v-for="good in getGoodsOrSpecialGoods(true)")
            p {{$formatNumber(good.value)}}

          th(v-for="specialGood in getGoodsOrSpecialGoods(false)")
            p {{$formatNumber(specialGood.value)}}
