/*
 * Cookie Consent
 */

@import "~/node_modules/orejime/dist/orejime.css";

.orejime-Notice {
  right: unset;
  left: 20px;
  background: white;
  z-index: 9999996;
}

.orejime-ModalOverlay {
  z-index: 9999997;
}

.orejime-ModalWrapper {
  @extend .modal-card;
  z-index: 9999998;
  margin: unset;
}

.orejime-Modal {
  background-color: white;
  color: black;
}

.orejime-Modal-header {
  @extend .modal-card-head;
  display: inherit;
  justify-content: inherit;
}
.orejime-Modal-body {
  @extend .modal-card-body;
}
.orejime-Modal-footer {
  @extend .modal-card-foot;
}

.orejime-Modal-header, .orejime-Modal-footer {
  background-color: $light;
}

.orejime-Notice-body:before {
  content: attr(data-title);
  font-weight: bold;
  font-size: 2em;
}

.orejime-Notice-logo {
  max-width: unset;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.orejime-Notice-description, .orejime-Notice-purposes, .orejime-Notice-changes {
  color: black;
  user-select: none;
}

.orejime-Notice-actionItem--decline {
  display: none;
}

.orejime-Button {
  @extend .button;
  margin: 0;
}

.orejime-Notice-actions .orejime-Button {
  width: 100%;
}

.orejime-AppToggles {
  @extend .field;
  @extend .has-addons;

  button {
    @extend .control;
    @extend .is-clearfix;
  }
}

.orejime-Notice-actionItem {
  @extend .control;
  @extend .is-expanded;
  @extend .is-clearfix;
}

.orejime-Notice-actions {
  @extend .field;
  @extend .has-addons;
}

.orejime-Button--save {
  @extend .is-primary;
}

.orejime-Button--info {
  @extend .is-info;
}

// Modal

.orejime-Modal-poweredByLink {
  display: none;
}

@media screen and (max-width: 989px) {
  .orejime-Notice {
    right: unset;
    left: unset;
  }
  .orejime-Notice-logo {
    max-height: 25vh
  }
  div.orejime-Modal-body > div {
    overflow: auto;
    max-height: 200px;
  }
}

@media (min-width: 990px) {
  .orejime-Notice {
    border-radius: 20px 20px 5px 5px;
    max-width: 420px;
  }
}

.cookie-consent-setting {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 2em;
  z-index: 9999995;
}

.cookie-consent-setting:hover {
  animation: bounce .5s;
}

.orejime-Modal-closeButton, .orejime-CloseIcon {
  cursor: pointer;
  text-align: center;
}

@keyframes bounce {
  from {transform: translateY(0);}
  50%   {transform: translateY(-10px);}
  to {transform: translateY(0);}
}

.orejime-AppList-item {
  padding-left: 60px !important;
  padding-top: 20px;
}
