div
  b-dropdown
    button.button(slot="trigger")
      article.media
        .media-left
          span {{$t(`common.lang.${$i18n.locale}.${$i18n.locale === "en" ? "flag_GB" : "flag"}`)}}
        .media-content {{ $t('common.lang.' + this.$i18n.locale + '.original') }}
        .media-right(v-if="this.$i18n.locale === 'en'")
          span {{$t("common.lang.en.flag_US")}}
      span.icon
        font-awesome-icon(icon="chevron-down")

    b-dropdown-item(v-for="lang in supportedLocales" :key="lang.key" data-lang="lang" @click="currentLang = lang.key" :class="[lang.key === currentLang ? 'is-active' : '']")
      article.media
        .media-left
          span {{$t(`common.lang.${lang.key}.${lang.key === "en" ? "flag_GB" : "flag"}`)}}
        .media-content {{ lang.displayName }}
        .media-right(v-if="lang.key === 'en'")
          span {{$t("common.lang.en.flag_US")}}
    hr.navbar-divider
    b-dropdown-item(@click="$router.push(localePath({ name: 'HelpToTranslateTheSite' }))")
      span.icon.is-icon-2rem(style="vertical-align: middle;")
        font-awesome-icon(icon="language")
      span(style="vertical-align: middle;") &nbsp;&nbsp;&nbsp;{{$t("routes.help_to_translate_the_site.hero.title")}}
